/* *{
    padding: 0px;
    margin:0px;
}
.container{
    background-color: orange;
    .my{
        text-decoration: underline;
        background-color: black;
        color:white;
        border: 20px solid rgb(181, 129, 32);
        padding:0 100px;
        margin-bottom: 0px;
        h1{
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 450px;
        }
        
    }
    .main{
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
            color: blue;
        margin-top: 8px;
        }
        p{
            text-align: justify;
            text-transform: capitalize;
            color:brown;
            margin-top: 8px;
        }
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 150px;
            border: none;
            border-radius:20px ;
            background-color: chartreuse;
            color: black;
            padding: 80px;
            margin-bottom: 10px;
         .links{
            color: blue;
            border-radius: 50%;
            width:40px;

         }
         .btn{
         .a{
            border-radius: 10px;
            background-color: rgb(142, 165, 165)142, 165, 165);
            color: black;
            border: 1px solid pink;
     font-size:50px;
     margin: 20px;
         }
         .b{
            background-color: rgb(120, 150, 150);
            color: black;
            border: 1px solid pink;
     font-size:50px;
     margin:20px;
     border-radius: 10px;
         }        
        }
        }
} */








*{
    padding:0;
    margin:0;
}
.container{
      display:flex;
      gap:20px;
      button{
        background-color: blue;
        border: 1px solid black;
        border-radius:10px;
        #a{
            color:orange;
            position:relative;
            top:100px;
        }
      }
}