#one{
    background-color: blue;
    color: bisque;

}
#diva{
    background-color: blueviolet;
    color: bisque;
}
#divb{
    background-color: rgba(70, 116, 85, 0.531);
    color: bisque;
}
#divc{
    background-color: rgb(149, 117, 47);
    color: bisque;
}
#divd{
    background-color: rgb(28, 60, 95);
    color: bisque;
}
#divd{
    background-color: rgb(77, 104, 96);
    color: bisque;
}
#dive{
    background-color: rgb(4, 140, 79);
    color: bisque;
}
#dive{
    background-color: rgb(13, 70, 128);
    color: bisque;
}
#divf{
    background-color: rgb(111, 220, 164);
    color: bisque;
}
#divg{
    background-color: blueviolet;
    color: bisque;
}
#divh{
    background-color: rgb(118, 46, 51);
    color: bisque;
}
#divi{
    background-color: rgb(14, 60, 95);
    color: rgb(98, 69, 34);
}
#divj{
    background-color: rgb(90, 103, 126);
    color: bisque;
}
#divk{
    background-color: rgb(59, 28, 87);
    color: bisque;
}
#divl{
    background-color: rgb(41, 67, 53);
    color: rgb(181, 134, 77);
}
#divm{
    background-color: rgb(43, 18, 66);
    color: bisque;
}
#divn{
    background-color: aqua;
    color: beige;
}